@import "./reset.css";
@import "./fonts.css";
@import "./common.css";
@import "./xs.css";
@import "./sm.css";
/* @import "./md.css"; */
@import "./lg.css";
@import "./xl.css";

h2 {
  margin-bottom: 20px;
}

.title-div {
  border: 1px solid blue;
  display: flex;
  gap: 25px;
}
/* .menus-div {
  display: flex;
  border: 1px solid green;
  flex-wrap: wrap;
} */
.menus-div > div {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.menus-div > div > div:first-child {
  display: flex;
  gap: 10px;
}
.menus-list-div .menus-div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
