/* COMMON STYLE RULES */

/* HTML ELEMENTS */
/* HTML ELEMENTS */

body {
  font-family: "IBM Plex Sans";
  background-color: #f9fafa;
  color: #2e3333;
}
h2 {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #2e3333;
  font-weight: 600;
}

/* TITLE */
/* TITLE */

.title-div {
  display: flex;
  gap: 25px;
}

/* MENUS DIV */
/* MENUS DIV */

.menus-div {
  display: flex;
}
.menus-div > div {
  display: flex;
  background-color: white;
}
.menus-div > div > div:first-child {
  display: flex;
}
.menus-div img {
  width: 100px;
  height: 100px;
  border: 1px solid #d1d4d4;
}
.add-button {
  background-color: white;
  border: 1px solid #d1d4d4;
  height: 100px;
  min-width: 40px;
  color: #d1d4d4;
  font-size: 22px;
}

/* LOAD INFO DIV */
/* LOAD INFO DIV */

.loading-info-div {
  width: 400px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid #d1d4d4;
  border-radius: 10px;
  margin-bottom: 50px;
}
.loading-info-div p {
  text-align: center;
  padding-top: 100px;
  color: #585c5c;
}

/* BASKET */
/* BASKET */

.basket {
  border: 1px solid #f5f5f5;
  background-color: white;
  height: 225px;
  min-width: 420px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 50px;
}
.empty-basket {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.basket button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
}
.basket > button {
  width: 390px;
  min-height: 50px;
  font-weight: bold;
  background-color: #e2e5e5;
  color: #aaadad;
}
.purchase-display-div {
  /* width: 100%; */
  width: 390px;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}
.purchase-display-div button {
  width: 20px;
}
.purchase-display-div > span:nth-child(2) {
  text-align: left;
  /* display: flex; */
  /* justify-content: left; */
  /* color: blue;
  border: 1px solid blue; */
}
.purchases-div {
  /* width: 420px; */
}
.purchases-div > div:first-child {
  font-size: 18px;
}
/* .purchases-div .total-price{
  font-weight: bold;
} */

/* FOOTER */
/* FOOTER */

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  display: flex;
  align-items: center;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: #0b65c2;
}

/* GENERAL */
/* GENERAL */

/* FONT */

.stratos {
  font-family: "Stratos Deliveroo Web";
}
.bold {
  font-weight: bold;
}

/* Font size */

.common-14 {
  font-size: 14px;
}
.common-16 {
  font-size: 16px;
}

/* Line height */

.common-lh-19 {
  line-height: 19px;
}

/* Colors */

.common-col-585C5C {
  color: #585c5c;
}

/* DISPLAY */

.common-row {
  display: flex;
  flex-direction: row;
}
.common-col {
  display: flex;
  flex-direction: column;
}
.common-gap-10 {
  gap: 10px;
}
.common-gap-15 {
  gap: 15px;
}

/* BOX */

/* Width */
.common-w50 {
  width: 50px;
}
.common-w60 {
  width: 60px;
}
.common-w120 {
  width: 120px;
}
.common-w200 {
  width: 200px;
}

/* Padding */
.common-pad-15 {
  padding: 15px;
}

/* Border */
.common-brd-F5F5F5 {
  border: 1px solid #f5f5f5;
}
