@media (min-width: 992px) {
  .lg-row {
    display: flex;
    flex-direction: row;
  }

  .lg-40 {
    font-size: 40px;
  }
  .lg-mg-l-30 {
    margin-left: 30px;
  }
  .lg-w400 {
    width: 400px;
  }
  .lg-w420 {
    min-width: 420px;
    border: 1px dotted black;
  }
  .lg-w50pc {
    width: 50%;
  }
}
