@media (min-width: 992px) {
  .lg-row {
    display: flex;
    flex-direction: row;
  }
  .lg-16 {
    font-size: 16px;
  }
  .lg-40 {
    font-size: 40px;
  }
  .lg-mg-l-30 {
    margin-left: 30px;
  }
  .lg-50 {
    /* width: 50px; */
    font-size: 50px;
  }
  .lg-w400 {
    width: 400px;
  }
  .lg-w420 {
    /* min-width: 420px; */
    min-width: 420px;
    border: 1px dotted black;
  }
  .lg-w50pc {
    width: 50%;
  }
  .lg-h50 {
    height: 50px;
  }
  .lg-mg-r-30 {
    /* margin-left: 30px; */
    margin-right: 30px;
  }
  .lg-mg-b-40 {
    margin-bottom: 40px;
  }
  .lg-mg-b-45 {
    margin-bottom: 45px;
  }
  .lg-pad-l-35 {
    padding-left: 35px;
  }
  .lg-col-AAADAD {
    color: #aaadad;
    /* background-color: black; */
  }
  .lg-bgcol-E2E5E5 {
    background-color: #e2e5e5;
  }
  .basket {
    border: 1px solid #f5f5f5;
    background-color: white;
    height: 225px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 50px;
  }
  .basket > div:first-child {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .basket button {
    width: 390px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "IBM Plex Sans";
  }

  /* FOOTER */

  footer div {
    padding-top: 100px;
    font-size: 16px;
  }
  footer a {
    gap: 5px;
  }
  footer img {
    height: 35px;
  }
  .footer-icon {
    font-size: 35px;
  }
}
