/* OVER 576 PX WIDTH SCREENS STYLE RULES */

@media (min-width: 576px) {
  /* FOOTER */
  /* FOOTER */

  footer div {
    padding-top: 20px;
  }
  footer a {
    gap: 5px;
  }
  footer img {
    height: 25px;
  }
  .footer-icon {
    font-size: 25px;
  }

  /* GENERAL */
  /* GENERAL */

  /* DISPLAY */

  .sm-visible {
    display: inline;
  }
  .sm-row {
    flex-direction: row;
  }

  /* FONT */

  .sm-16 {
    font-size: 16px;
  }
  .sm-22 {
    font-size: 22px;
  }

  /* BOX */

  /* Width */
  .sm-w40pc {
    width: 40%;
  }
  .sm-w90vw {
    width: 90%;
  }
  .sm-w360 {
    width: 360px;
  }

  /* Padding */
  .sm-pad-20-0-20-25 {
    padding: 20px 0 20px 25px;
  }
}
