@media (min-width: 576px) {
  /* .sm-visible {
    display: inline;
  } */
  .sm-row {
    flex-direction: row;
  }

  .sm-16 {
    font-size: 16px;
  }

  .sm-22 {
    font-size: 22px;
  }
  .sm-w40pc {
    width: 40%;
  }
  .sm-w90vw {
    width: 90%;
  }
  .sm-w360 {
    width: 360px;
  }
  .sm-pad-20-0-20-25 {
    padding: 20px 0 20px 25px;
  }
  /* FOOTER */

  .sm-visible {
    display: inline;
  }
  footer div {
    padding-top: 20px;
  }
  footer a {
    gap: 5px;
  }
  footer img {
    height: 25px;
  }
  .footer-icon {
    font-size: 25px;
  }
}
