/* OVER 1200 PX WIDTH SCREENS STYLE RULES */

@media (min-width: 1200px) {
  /* GENERAL */
  /* GENERAL */

  /* DISPLAY */

  .xl-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }

  /* BOX */

  /* Width */
  .xl-w48pc {
    width: 49%;
  }
}
