@media (min-width: 0px) {
  /* .xs-hidden {
    display: none;
  } */
  .xs-col {
    flex-direction: column;
  }

  .xs-14 {
    font-size: 14px;
  }
  /* .xs-16 {
    font-size: 16px;
  } */

  .xs-18 {
    font-size: 18px;
  }
  .xs-28 {
    font-size: 28px;
  }
  .xs-w100vw {
    width: 100vw;
  }

  .xs-pad-10-0-10-20 {
    padding: 10px 0 10px 20px;
  }

  .xs-mg-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .xs-mg-l-20 {
    margin-left: 20px;
  }
  /* .xs-mg-r-20 {
    margin-right: 20px;
  } */
  .xs-mg-b-30 {
    margin-bottom: 30px;
  }
  /* FOOTER */
  footer div {
    font-size: 13px;
    gap: 5px;
    padding: 15px 0;
  }
  .xs-hidden {
    display: none;
  }
}
